<div class="welcome-page">
	<div class="banner">
		<div class="banner_content">
			<h1>File Content</h1>
			<p>
				Yours Life work is Oraganized, Always
			</p>
			<button><%= link_to 'Enter', new_user_registration_path %></button>
		</div>
	</div>
	<div class="callouts">
		<div class="callout_inner">
			<div class="wrapper">
				<div class="callout">
					<h2>Organize</h2>
					<p>
						With BroadCloud, you can deploy our advanced portfolio of fully integrated communication and collaboration services in a matter of weeks.
						As the competition gets steeper, time-to-market becomes critical to maintain your market share. Your customers are demanding the best solution available on the market, and each day you are not offering the type of services they demand, is one more opportunity for your competitors to steal your business.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-page">
		<div class="wrapper">
			<h2>Go Ahead</h2>
			<br/>
			<button><%= link_to 'Join Now', new_user_registration_path %></button>
		</div>
	</div>
</div>